body {
	font: normal 13px/20px 'Open sans', sans-serif;
	color: #000;
}
a {
	color: #000;
	text-decoration: none !important;
}
a:hover {
	color: #d71a21;
}

.articel-new{
	margin-bottom: 35px;
}

.avatar img{
	width: 100%;
}

.articel-new .new-left{
	width: auto;
    margin-right: 50px;
    flex: 1;
}
.new-left-main{
	display: flex;
}

.articel-new .new-right{
	width: 300px;
}
.new-right .item-quangcao{
	min-height: 200px;
}

.articel-new .new-left a.new-item{
	width: 65%;
    margin-right: 30px;
    display: block;
    text-decoration: none;
    
}

.articel-new .new-left .new-list-right{
	flex: 1;
}

.articel-new .new-left .new-item .avatar{
	width: auto;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;

}
.articel-new .new-left .new-item .avatar:after{
	content: "";
    display: block;
    padding-top: 56%;
}

.articel-new .new-left .new-item .title{
	font-weight: Bold;
	font-family: 'Merriweather', serif;
}

.articel-new .new-left .new-item:hover .caption {
	color: #000;
}

.articel-new .new-left .new-list-right .title{
	font-size: 14px;
	font-family: 'Merriweather', serif;
	line-height: 1.4;
	font-weight: Bold;
}

.articel-new .new-left a.new-list-right-item{
	border-bottom: 1px dashed #bfbfbf;
	margin-bottom: 12px;
	padding-bottom: 10px;
	display: block;
	text-decoration: none;
}

.articel-new .new-list-bottom {
	padding-top: 20px;
}

.articel-new .new-list-bottom .avatar{

    background-position: center;
    background-size: cover;
}
.articel-new .new-list-bottom .avatar:after {
    content: "";
    display: block;
    padding-top: 56%;
}

.articel-new .new-list-bottom .title{
	font-size: 14px;
	font-family: 'Merriweather', serif;
	line-height: 1.4;
	font-weight: Bold;
    max-height: 58px;
    overflow: hidden;
}

.articel-new .new-right .category{
	border-bottom: 2px solid #000000;
	margin-bottom: 14px;
}

.articel-new .new-right .category h3{
	color: #d71a21;
	font-size: 18px;
	font-family: 'Merriweather', serif;
	line-height: 1.4;
	font-weight: Bold;
}

.articel-new .new-right .title{
	height: 65px;
	padding-top: 10px;
	background-color: #f5f5f5;
}

.articel-new .new-right .title h3{
	font-weight: Bold;
	font-size: 16px;
	text-align: center;
}

.articel-new .new-right-2{
	margin-top: 30px;
}

.list-video{
	margin-top: 10px;
}

.list-video ul{
	padding: 0;
	list-style-type: none;
}

.list-video ul li{
	border-bottom: 1px dashed #bfbfbf;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding: 10px 0;
}
.list-video ul li a {
	font-weight: Bold;
	font-family: 'Merriweather', serif;
	line-height: 1.4;
	font-size: 14px;
	cursor: pointer;
}
.list-video ul li a:hover {
	color: #d71a21 !important;
}
.list-video ul li:last-child{
	border-bottom: 0;
}

.list-video p{
	font-weight: Bold;
	font-size: 16px;
	text-align: center;
}

.item-quangcao a img{
	width: 100%;
}
.quangcao-2 img{
	width:100%;
}

.quangcao-2{
	margin: 0;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.category-1 .category-1-left{
	width: 745px;
	margin-right: 30px;
}

.category-1 .category-1-right{
	flex: 1;
	border: 1px solid #999999;
}

.menu {
    padding-bottom: 3px;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.menu-parent{
	background-color: #d71a21;
}

.menu-parent h3 {
    margin-bottom: 0px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 18px;
	padding: 0 20px;
	line-height: 40px;
}
.menu-parent h3 a {
	color: #FFF;
}
.btnShowMenuChild{
	position: absolute;
    padding: 14px;
    top: 0;
    right: 0;
    color: #fff;
    line-height: 1;
}
.menu-child{
	flex: 1;
	text-align: left;
	line-height: 40px;
	display: block;
	margin-left: 10px;
}
.menu-child ul.child{
	margin-bottom: 0;
}

.child {
	padding: 0;
}

.child li {
	display: inline-block;
	border-left: 1px solid #8d8d8d;
	padding: 0 10px;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: 12px;
	line-height: 1.4;
}

.menu-child ul > :first-child {
	border-left: 0px;
}

.category-1 .content{
	margin: 0;
}

.category-1 .content .item-category{
	width: 490px;
	margin-right: 30px;
}

.category-1 .content .list-right{
	flex: 1;
}

.category-1-left .item-category .avatar {
	height: 60vh;
	overflow: hidden;

}

.item-category .title {
	font-weight: Bold;
	font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    line-height: 1.4;
}


.item-category .title-articel a{
	text-decoration: none;
	color: #ffffff;
}

.item-category a:hover .caption {
	color: #000;
}

.category-1-left .list-right-item {
	padding-bottom: 25px;
}

.category-1-left .list-right-item .avatar img{
	width: 100%;
}

.category-1-left .list-right-item .title{
	margin: 10px 0;
	font-size: 14px;
	font-weight: Bold;
	font-family: 'Merriweather', serif;
	line-height: 1.4;
}

.category-1-left .list-right-item .caption{
	max-height: 125px;
	overflow: hidden;
}
.category-1-left .list-right-item a:hover .caption {
	color: #000;
}

.category-1 .category-1-right .title{
	margin: 25px;
}

.category-1 .category-1-right .title h3{
	font-size: 18px;
	font-weight: Bold;
	font-family: 'Merriweather', serif;
	line-height: 1.4;
}

.category-1 .category-1-right a.item-top-view{
	margin: 25px;
	display: flex;
	padding-bottom: 20px;
	border-bottom: 1px solid #bfbfbf;
	text-decoration: none;
}

.category-1 .category-1-right .item-top-view .stt{
	width: 48px;
    line-height: 40px;
    color: #999999;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Merriweather', serif;

}

.category-1 .category-1-right .item-top-view .stt p{
	margin-bottom: none;
}

.category-1 .category-1-right .item-top-view .caption{
	flex: 1;
}

.category-1 .category-1-right .item-top-view .caption a{
	text-decoration: none;
	color: #000000;
}

.category-1 .category-1-right .item-top-view .caption h3{
	font-family: 'Merriweather', serif;
	font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
}

.category-1 .category-1-right .item-top-view .avatar{
	width: 28%;
	margin-left: 10px;
}
/*.category-1 .category-1-right .item-top-view .avatar:after{
	content: "";
	display: block;
	margin-top: 56%;

}*/
.category-1 .category-1-right .item-top-view .avatar img{
	width: 100%;
}

.category-1 .category-1-right .quangcao-3{
	margin: 25px;
	width: 300px;
	height: 250px;
	overflow: hidden;
}

.category-1 .category-1-right .quangcao-3 img{
	width: 100%;
}

.category >div{
	margin: 0 -30px;
}
.category .item-category {
	border-right: 1px solid #ddd;
}
.category .item-category:nth-child(n+4) {
	border: 0;
}

.category .title-articel{
	padding-bottom: 3px;
	border-bottom: 3px solid #000;
	margin-bottom: 10px;
}
.category .title-articel h3 {
	padding: 0px 20px;
	margin: 0;
	line-height: 40px;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 18px;
	background-color: #d71a21;
	color: #ffffff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.category .item{
	padding: 10px 0;
	border-bottom: 1px dashed #ddd;
}
.category .item:last-child {
	border: 0;
}

.category .item a{
	text-decoration: none;
}

.category .item h3{
	font-size: 14px;
	font-family: 'Merriweather', serif;
    line-height: 1.4;
	font-weight: bold;
	margin-bottom: 0;
}

.category .item .avatar {
	display: block;
	margin-bottom: 10px;
}
.category .item .avatar:after{
	content: "";
	display: block;
	padding-bottom: 56%;

}

.category .item .avatar img {
	width: 100%;
}


.category div :first-child .item{
	border-left: 0px solid #999999;
}


.section2{
	margin: 30px auto ; 
}

.articel-bottom-left{
	width: auto;
    margin-right: 30px;
    flex: 1;
}

.articel-bottom-right{
	width: 300px;
}
.articel-bottom-left-item .avatar {
	width: auto;
}
.articel-bottom-left-item .avatar:after{
	content: "";
	display: block;
	padding-bottom: 56%;
}

.articel-bottom-left-item img{
	width: 100%;
}

.quangcao-group .item-quangcao img{
	width: 100%;
}

.quangcao-group .item-quangcao{
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.quangcao-group .category h3 {
	border-bottom: 3px solid #000;
	color: #d71a21;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    line-height: 1.4;
    font-weight: Bold;
}
.quangcao-group .new-right-1 .title h3{
	background-color: #f5f5f5;
	padding: 15px;
	font-size: 14px;
	font-weight: bold;
    margin-bottom: 20px;
}


.articel-bottom-left-item  h3{
	margin-top: 10px;
	font-size: 18px;
    line-height: 1.4;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

.articel-bottom-left-item  a:hover .caption{
	color: #000;
}

.quangcao-4 {
	margin-top: 30px;
	min-height: 130px;
	overflow: hidden;
}
.carousel-inner img {
	width: 100%;
	height: 100%;
}

.date-time {
	margin: -5px 0 5px;
	font-size: 12px;
	color: #999999;
}

.list-right-item a .avatar{
	display: block;
}
.list-right-item a .avatar:after{
	content: "";
    display: block;
    padding-top: 56%;
	
}


.quangcao_right{

}
.quangcao_right a {
	display: block;
	margin-bottom: 5px;
}
.quangcao_right a img{
	width: 100%;
}

@media only screen and (max-width: 1200px) {
    .articel-new .new-left{
    	
    }
    .articel-new .new-list-bottom .avatar {
	     width: auto; 
	    height: 90px;
	    margin-bottom: 10px;
	}
	
	.category-1 .content .item-category {
	    width: 100%;
	    margin-right: 0;
	}
	.category-1-left .item-category .avatar {
	    height: 40vh;
	    margin-bottom: 10px;
	}
	.list-right-item a .avatar{
		width: 25vw;
	    float: left;
	    margin-right: 20px;
	}




	.category-1 .category-1-left {
	    width: 400px;
	    height: auto;
	    flex: auto;
	}
	.category-1 .category-1-right {
	    flex: 1;
	    width: 350px;
	}
	.category-1 .category-1-right .quangcao-3 {
	    margin: 25px;
	    width: 300px;
	    height: 250px;
	    overflow: hidden;
	}
	.menu-child {
	    display: block;
	    height: 42px;
	    overflow: hidden;
	}
}
@media only screen and (max-width: 992px) {
    .articel-new .new-left {
	    margin-right: 0; 
	}
	.articel-new .new-right{
		display: none;
	}

	.category-1 .category-1-left{
		margin-right: 0;
	}
	.quangcao-4 a img{
		width: 100%;
	}

	.category-1 .category-1-right .quangcao-3 {
	    margin: 25px auto;
	    width: 350px;
	    height: auto;
	}
	.menu-child {
	    display: block;
	}
	.articel-bottom{
		flex-direction: column;
	}
	.articel-bottom-right {
	    width: auto;
	}
}

@media only screen and (max-width: 768px) {
   	.new-left-main {
    	display: block;
	}
	.articel-new .new-left a.new-item {
	    width: auto;
	    margin-right: 0;    
	    margin-bottom: 15px;
    	border-bottom: 1px dashed #bfbfbf;
	}
	.articel-new .new-left a.new-item h3 {
	    color: #d71a20;
	    font-size: 1.5rem;
	    line-height: 1.4;
	}
	.articel-new .new-right {
	    display: none;
	}
	.articel-new .new-list-bottom .avatar {
	    width: 20vw;
	    height: auto;
	    margin-bottom: 10px;
	    margin-right: 20px;
	    float: left;
	}
	/*.category-1 .category-1-left{
		margin-right: 0;
	}*/
	.category-1 .category-1-right .item-top-view .avatar {
		display: none;
	}


	.menu-parent {
	    width: 100%;
	    height: auto;
	    background-color: #d71a21;
	    text-align: left;
	}
	.menu-parent h3 {
	}
	.menu {
	    padding-bottom: 0; 
	    border-bottom: 0; 
	    margin-bottom: 25px;
	    margin-right: 0;
	    position: relative;
	}

	.menu-child {
	    flex: 1;
	    text-align: left;
	    /* line-height: 42px; */
	    box-shadow: 1px 1px 4px #0002;
	    position: absolute;
	    width: 100%;
	    background: #fff;
	    top: 30px;
	    z-index: 1;
	    display: none;
	}
	.child li {
	    line-height: 12px;
	    display: block;
	    border-left: 0; 
	    padding: 0; 
	    margin: 0;
	    
	}
	.child li a {
	    color: #000000;
	    text-decoration: none;
	    display: block;
	    padding: 10px 30px;
	    font-weight: 600;
	    border-bottom: 1px solid #E5E5E5;
	}

	.category .item-category {
		margin-bottom: 20px;
	}
	.item-category hr {
		display: none;
	}
	.category .title-articel {
	    height: auto;
	    padding: 0;
	    background-color: #d71a21;
	    text-align: left;
	    color: #ffffff;
	    
	    margin-bottom: 0;
	    
	}
	.item-category .title-articel h3 {
	}
	.category .item .avatar {
	    height: auto;
	}
	.item-category .item:first-child a .title h3{
	    color: #d71a21;
	}
	.category .item{
		border-left: 0;
	}

	.quangcao-group .item-quangcao{
		height: auto;
	}
	.articel-bottom-left {
	    width: auto;
	    margin-right: 0; 
	}
	.menu-footer {
	    margin: 0; 
	}

}
@media only screen and (max-width: 576px) {
	#main{
		width: 90vw;
   		margin: auto;
	}
}


@media only screen and (max-width: 425px) {
	.category-1 .category-1-right .quangcao-3 {
	    width: 80vw;
	}
}

